<div class="row" >
  <div class="col">
    <input #termino type ="text" (keyup)="buscar( termino.value )" class="form-control" placeholder="Buscar artista">
  </div>
</div>


<h1 class="m-5">Resultados para:  <small>{{termino.value}}</small></h1>
<app-loading *ngIf="loading" class="m-5"></app-loading>

<app-tarjetas *ngIf="!loading" [items] ="artists" ></app-tarjetas>
